#banner {
	width:100%;
}

.principal p{
	margin: 0 0 1em;
}
.principal strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}


.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

/* ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
} */

.imagembeneficios {
	width: 50%;
}

/*css pagina inicial*/ 
.banner{
	width: 100%;
}

.titulo-centralizado{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}